.A_ImgSquare1 {
  position: absolute;
}

.A_ImgSquare2 {
  margin-top: 17em;
}

.A_TypographyHeader4Platform {
  padding: 30px;
  position: relative;
}

.A_TypographyParagraph3 {
  position: absolute;
  top: 71%;
  left: 5%;
}

.A_TypographyParagraph {
  font-size: 15px;
  margin-bottom: 4em;
  width: 198px;
  position: absolute;
  top: 2.5em;
  left: 2.5em;
  font-family: 'Helvetica Thin';
}

.A_TypographyParagraph2 {
  font-family: 'Helvetica Bold';
}

.A_TypographyLogo {
  font-family: 'Helvetica Bold';
  letter-spacing: -13px;
}

.A_TypographyHeader2 {
  font-weight: bold;
  font-family: 'Helvetica Regular';
}

.A_TypographyHeader2Card2 {
  position: absolute;
  top: 5%;
  left: 5%;
}

.A_ButtonArticles {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: -4em;
}

.A_TypographyHeader2Card {
  position: relative;
  top: 0.6em;
  left: 0.8em;
}

.A_textAgile {
  display: flex;
  gap: 39em;
  position: relative;
  right: 5em;
}

.A_TypographyHeader3 {
  font-size: 30px;
}

.A_TypographyLogo {
  font-size: 175px;
  font-weight: 600;
  margin-bottom: 1em;
  filter: blur(4.4px);
}

.A_TypographyHeader1 {
  font-size: 120px;
}

.A_TypographyHeader2 {
  font-size: 45px;
  max-width: 550px;
  filter: blur(1px);
}

.A_TypographyHeader5 {
  font-family: 'Helvetica Bold';
  letter-spacing: -5px;
  font-size: 80px;
  filter: blur(1.5px);
}

.A_TypographyHeader4 {
  font-size: 20px;
  max-width: 470px;
  font-family: 'Helvetica Thin';
}

.A_allAboutAgile {
  max-width: 100px;
}

.A_TypographyHeader1Agile {
  margin-right: 133px;
  font-family: 'Helvetica Bold';
  letter-spacing: -10px;
  filter: blur(2.5px);
}
