.A_ImgSquare1 {
  position: absolute;
}

.A_ImgSquare2 {
  margin-top: 17em;
}

.A_TypographyHeader4Platform {
  padding: 30px;
  position: relative;
}

.A_TypographyParagraph3 {
  position: absolute;
  top: 71%;
  left: 5%;
}

.A_TypographyParagraph {
  font-size: 15px;
  margin-bottom: 4em;
  width: 198px;
  position: absolute;
  top: 2.5em;
  left: 2.5em;
  font-family: 'Helvetica Thin';
}

.A_TypographyParagraph2 {
  font-family: 'Helvetica Bold';
}

.A_TypographyLogo {
  font-family: 'Helvetica Bold';
  letter-spacing: -13px;
}

.A_TypographyHeader2 {
  font-weight: bold;
  font-family: 'Helvetica Regular';
}

.A_TypographyHeader2Card2 {
  position: absolute;
  top: 5%;
  left: 5%;
}

.A_ButtonArticles {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: -4em;
}

.A_TypographyHeader2Card {
  position: relative;
  top: 0.6em;
  left: 0.8em;
}

.A_textAgile {
  display: flex;
  gap: 39em;
  position: relative;
  right: 5em;
}

.A_TypographyHeader3 {
  font-size: 30px;
}

.A_TypographyLogo {
  font-size: 175px;
  font-weight: 600;
  margin-bottom: 1em;
  filter: blur(4.4px);
}

.A_TypographyHeader1 {
  font-size: 120px;
}

.A_TypographyHeader2 {
  font-size: 45px;
  max-width: 550px;
  filter: blur(1px);
}

.A_TypographyHeader5 {
  font-family: 'Helvetica Bold';
  letter-spacing: -5px;
  font-size: 80px;
  filter: blur(1.5px);
}

.A_TypographyHeader4 {
  font-size: 20px;
  max-width: 470px;
  font-family: 'Helvetica Thin';
}

.A_allAboutAgile {
  max-width: 100px;
}

.A_TypographyHeader1Agile {
  margin-right: 133px;
  font-family: 'Helvetica Bold';
  letter-spacing: -10px;
  filter: blur(2.5px);
}

.A_TypographyHeaderr1 {
  font-size: 60px;
  letter-spacing: -5px;
  filter: blur(1.2px);
  font-family: 'Helvetica Bold';
}

.A_TypographyHeaderrr1 {
  font-size: 120px;
  letter-spacing: -10px;
  filter: blur(2.5px);
  font-family: 'Helvetica Bold';
}

.A_HeaderAgileSmall2 {
  font-size: 40px;
}

.A_ParagraphSmall {
  font-size: 25px;
  max-width: 714px;
}

.A_TypographyHeaderr2 {
  font-size: 60px;
  font-family: 'Helvetica Bold';
  filter: blur(1px);
  letter-spacing: -3.5px;
  max-width: 575px;
}

.A_TypographyHeaderr4 {
  margin-bottom: 43px;
  font-size: 20px;
  font-family: 'Helvetica Thin';
}

.A_TypographyHeaderrrr2 {
  margin-top: 11em;
  max-width: 1005px;
  margin-left: 3em;
}

.A_TypographyHeader2Margin {
  margin-left: 1em;
  margin-bottom: 1.5em;
}

.A_TypographyHeaderr5 {
  font-size: 20px;
  font-family: 'Helvetica Thin';
  max-width: 341px;
}

.A_TypographyHeaderrr4 {
  font-size: 25px;
  margin-bottom: 2em;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
}

.A_TypographyHeader2Width {
  max-width: 975px;
}

.A_TypographyHeaderrrr4 {
  font-size: 25px;
  margin-left: 7.4em;
  margin-bottom: 3em;
}

.A_TypographyHeader2Margin2 {
  margin-bottom: 0.3em;
  margin-left: 1em;
}

.A_TypographyParagraph2 {
  font-family: 'Helvetica Thin';
  font-size: 15px;
  margin-bottom: 4em;
  width: 198px;
  position: absolute;
}

.A_TypographyHeader22 {
  font-family: 'Helvetica Bold';
  font-size: 60px;
}
