@font-face {
  font-family: 'Helvetica Regular';
  src: url('../fonts/HELVETICANEUE-LIGHT.OTF') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('../fonts/HELVETICANEUE-BOLD.OTF') format('truetype');
  font-style: normal;
}
