@font-face {
    font-family: 'RockStar';
    src: url('../fonts/RS-extrabold.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'RockStar';
    src: url('../fonts/RS-semibold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RockStar';
    src: url('../fonts/RS-regular.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RockStar';
    src: url('../fonts/RS-extralight.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
}