body {
  background-color: #000000;
  color: white;
}
* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
li,
p {
  font-family: 'Helvetica Regular';
}

body.present {
  width: 100vw;
  height: 100vh;
  background-size: cover;

  h1 {
    font-family: 'Helvetica Bold';
    font-size: 3vw;
    font-weight: 300;
    color: #fff718;
  }

  .up_part {
    padding: 5vh 5vw;
    display: flex;
  }
  .line_h1 {
    width: 53vw;
    height: 0.2vh;
    margin: 2.5vh;
    background-color: #fff718;
  }
  .center_part {
    width: 80vw;
    margin: 15vh 10vw;
  }
  h2 {
    font-family: 'Helvetica Bold';
    font-size: 1.5vw;
    font-weight: 300;
    color: #fff718;
    text-align: center;
  }

  .side_text {
    font-family: 'Helvetica Regular';
    font-size: 1.5vw;
    font-weight: 300;
    color: #fff718;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  form {
    width: 75vw;
    height: 40vh;
    margin: 4vh 2vw;
    border: 0.2vh solid #fff718;
    border-radius: 20px;
    padding: 3vw 6vh;
  }
  input {
    width: 40vw;
    background-color: rgba(1, 1, 1, 0);
    margin-top: 2vh;
    border: 0.2vh #fff718;
    border-style: hidden hidden solid hidden;
    font-family: 'Helvetica Regular';
    color: rgb(255, 247, 24);
    font-size: 2.5vw;
    font-weight: 300;
  }
  ::placeholder {
    color: rgba(255, 247, 24, 0.4);
  }
  input:focus {
    outline: none;
  }
  #my-form-button {
    width: 5vw;
    background-color: rgba(214, 214, 214, 0.2);
    border: none;
    margin-top: 3vh;
    border-radius: 3vw;
    gap: 2vw;
    position: relative;
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
  }
  .hidden {
    display: none;
  }

  #my-form-status {
    text-align: center;
    margin: 10vh;
  }
  a {
    text-decoration-line: underline;
    text-decoration-color: #fff718;
  }
  .up_part_a {
    text-decoration: none;
  }
}

.M_BackdroundWhatIsAgile {
  background: url('../images/backgroundWhatIsAgile.webp') 1179px 707px no-repeat;
  background-position: 50% 50%;
  height: 707px;
}

.O_FlexiblePrinciples {
  background: url('../images/backgroundAgile2.webp') 1299px 806px no-repeat;
  background-position: 50% 50%;
  height: 806px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 57%;
  margin-bottom: 6em;
}

.O_RealizationAgile {
  background: url('../images/Q_BackgroundCircle1.webp') no-repeat;
  background-position: 100% 50%;
  height: 1233px;
  margin-top: 26em;
  position: relative;
  margin-top: 25em;
  margin-bottom: 11em;
}

.O_OriginOfAgile {
  margin-bottom: 11em;
  position: relative;
}

.O_FirstSprint {
  background: url('../images/backgroundFirstSprint.webp') no-repeat;
  background-position: 50% 0%;
  margin-bottom: 4em;
  padding: 5em 6em;
}

.Q_FirstSprintText {
  background: url('../images/MaskFirstSprintText.webp') no-repeat;
  background-position: 50% 93%;
  height: 281px;
}

.O_ChoosingDuration {
  padding: 5em 2em 1em 0em;
  background: url('../images/backgroundChoosingDuration\ {.webp') no-repeat;
  background-position: 50% 93%;
  height: 808px;
}

.Q_CircleBig2 {
  width: 464px;
  height: 464px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  right: -8.5%;
}

.M_CirclesRealizationAgile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4%;
  position: relative;
  bottom: -19%;
}

.A_TypographyHeaderr1 {
  font-size: 60px;
  letter-spacing: -5px;
  filter: blur(1.2px);
  font-family: 'Helvetica Bold';
}

.A_TypographyHeaderrr1 {
  font-size: 120px;
  letter-spacing: -10px;
  filter: blur(2.5px);
  font-family: 'Helvetica Bold';
}

.M_LogoAndCircle {
  display: flex;
  justify-content: space-between;
  margin: 2em 4em;
}

.O_MainAboutAgile {
  margin: 0em 3em 1em;
  display: flex;
  gap: 2em;
  justify-content: flex-end;
  font-size: 20px;
  align-items: center;
}

.M_GraphicsAgileLife2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7em;
}

.M_AgileWhatIs {
  position: absolute;
  display: flex;
  align-items: center;
  width: 755px;
  gap: 18%;
}

.A_HeaderAgileSmall2 {
  font-size: 40px;
}

.O_AboutAgile1 {
  margin-bottom: 2em;
}

.A_ParagraphSmall {
  font-size: 25px;
  max-width: 714px;
}

.A_TypographyHeaderr2 {
  font-size: 60px;
  font-family: 'Helvetica Bold';
  filter: blur(1px);
  letter-spacing: -3.5px;
  max-width: 575px;
}

.Q_LineStraight {
  width: 1px;
  height: 806px;
  background-color: white;
}

.M_FlexibleText {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10em;
}

.Q_GlassCircle1 {
  position: relative;
  right: -14.5%;
}

.M_FlexibleTextDown {
  position: absolute;
  right: 27%;
  margin-bottom: 30px;
  width: 512px;
}

.A_TypographyHeaderr4 {
  margin-bottom: 43px;
  font-size: 20px;
  font-family: 'Helvetica Thin';
}

.Q_CircleBig3 {
  position: absolute;
  top: 21%;
}

.A_TypographyHeaderrrr2 {
  margin-top: 11em;
  max-width: 1005px;
  margin-left: 3em;
}

.A_TypographyHeader2Margin {
  margin-left: 1em;
  margin-bottom: 1.5em;
}

.A_TypographyHeaderr5 {
  font-size: 20px;
  font-family: 'Helvetica Thin';
  max-width: 341px;
}

.A_TypographyHeaderrr4 {
  font-size: 25px;
  margin-bottom: 2em;
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
}

.M_OriginParagraphs {
  display: flex;
  gap: 9em;
  margin-left: 159px;
}

.A_TypographyHeader2Width {
  max-width: 975px;
}

.M_OriginParagraphs2 {
  display: flex;
  gap: 2em;
  margin-left: 227px;
}

.M_ChoosingDurationText {
  display: flex;
}

.A_TypographyHeaderrrr4 {
  font-size: 25px;
  margin-left: 7.4em;
  margin-bottom: 3em;
}

.A_TypographyHeader2Margin2 {
  margin-bottom: 0.3em;
  margin-left: 1em;
}

.Q_SquareMedium {
  width: 327px;
  height: 327px;
  border: 1px solid white;
}

.M_Squares {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.A_TypographyParagraph2 {
  font-family: 'Helvetica Thin';
  font-size: 15px;
  margin-bottom: 4em;
  width: 198px;
  position: absolute;
}

.A_TypographyHeader22 {
  font-family: 'Helvetica Bold';
  font-size: 60px;
}
