body {
    background-color: #D6D6D6;
}
* {
    box-sizing: border-box;
}



h1,
h2,
h3,
p {
 font-family: 'RockStar';
}



body.present {
    width: 100vw;
    height: 100vh;
    background-image: url(/src/images/background_2.jpg);
    background-size: cover;

    h1 {
        font-family: 'RockStar';
        font-size: 3vw;
        font-weight: 300;
        color: #FFF718;
    }

    .up_part {
        padding: 5vh 5vw;
        display: flex;
    }
    .line_h1 {
        width: 53vw;
        height: 0.2vh;
        margin: 2.5vh;
        background-color: #FFF718;
    }
    .center_part {
        width: 80vw;
        margin: 15vh 10vw;
    }
    h2 {
        font-family: 'RockStar';
        font-size: 1.5vw;
        font-weight: 300;
        color: #FFF718;
        text-align: center;

    }

    .side_text {
            font-family: 'RockStar';
            font-size: 1.5vw;
            font-weight: 300;
            color: #FFF718;
            display: flex;
            justify-content: space-between;
            letter-spacing: 2px;
            margin-bottom: 20px;
     }
    form {
        width: 75vw;
        height: 40vh;
        margin: 4vh 2vw;
        border: 0.2vh solid #FFF718;
        border-radius: 20px;
        padding: 3vw 6vh;
    }
    input {
        width: 40vw;
        background-color: rgba(1, 1, 1, 0);
        margin-top: 2vh;
        border: 0.2vh #FFF718;
        border-style: hidden hidden solid hidden;
        font-family: 'RockStar';
        color: rgb(255, 247, 24);
        font-size: 2.5vw;
        font-weight: 300;
    }
    ::placeholder {
        
        color: rgba(255, 247, 24, 0.4);
    }
    input:focus {
        outline: none;
    }
    #my-form-button {
        width: 5vw;
        background-color: rgba(214, 214, 214, 0.2);
        border: none;
        margin-top: 3vh;
        border-radius: 3vw;
        gap: 2vw;
        position: relative;
        padding: 1vh 1vw;
        display: flex;
        align-items: center;
    }
    .hidden {
        display: none;
    }

    #my-form-status {
        text-align: center;
        margin: 10vh;
    }
    a {
        text-decoration-line: underline;
        text-decoration-color: #FFF718;
    }
    .up_part_a {
            text-decoration: none;
     }

}

body.index {
    width: 100vw;
    height: 220vh;
    background-image: url(/src/images/background_5.jpg);
    background-size: cover;
    h1 {
            font-family: 'RockStar';
            font-size: 3vw;
            font-weight: 300;
            color: #FFF718;
        }
    
        .up_part {
            padding: 5vh 5vw;
            display: flex;
            margin-bottom: 30vh;
        }
    
        .line_h1 {
            width: 49vw;
            height: 0.2vh;
            margin: 2.5vh;
            background-color: #FFF718;
        }
        h2 {
        font-family: 'RockStar';
        font-size: 1.5vw;
        font-weight: 300;
        color: #FFF718;
        text-align: center;
    }
        .side_text {
            font-family: 'RockStar';
            font-size: 1.5vw;
            font-weight: 300;
            color: #FFF718;
            display: flex;
            justify-content: space-between;
            letter-spacing: 2px;
            margin: 8vh 15vw;
    }
    .up_part_a {
        text-decoration: none;
    }
    .what_agile {
        margin-top: 25vh;
        padding: 5vh 2vw 2vh 5vw;
    }
    .what_agile_inside {
        border: #FFF718 solid 0.2vh;
        padding: 5vh 5vw;
        margin: 2vh 5vw;
        border-radius: 1.4vw;
        
        p {
            font-family: 'RockStar';
            font-weight: 300;
            color: #FFF718;
            font-size: 1.43vw;
        }
    } 
    .cards {
        width: 90vw;
        height: 30vh;
        margin: 15vh 5vw 10vh 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .one_card {
        width: 20vw;
        height: 20vw;
        border: 0.2vh #FFF718 solid;
        border-radius: 2vw;
        a {
            text-decoration: none;
            color: #FFF718;
        }
        h2 {
            text-align: left;
            padding: 3vh;
        }
    }
    .one_card:hover {
        backdrop-filter: blur(20px);
        background-color: rgba(255, 247, 24, 0.1);
        transition: 0.5s;
    }
    .flex {
        display: flex;
        .line_h1 {
            margin: 32.5vh 0 0 0 ;
            width: 55vw;
        }
    }
    .down_part {
        width: 90vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        border: 0.2vh solid #FFF718;
        border-style: solid hidden hidden  hidden;
        padding-top: 5vh;
        margin: 0 5vw;
        a {
            color: #FFF718;
        }
        .social {
            text-align: right;
        }
        h3 {
            margin: 2vh 0;
        }
    }

    
}

