.M_MainFooterNavAndArrow {
  display: flex;
  gap: 3em;
  font-size: 25px;
}

.M_MainFooterAbout {
  font-size: 20px;
  display: flex;
  gap: 4em;
  flex-direction: column;
  font-family: 'Helvetica Regular';
}

.M_MainFooterNavAndNet {
  display: flex;
  gap: 41em;
  margin-bottom: 10em;
  justify-content: space-between;
}

.M_LogoAndNet {
  display: flex;
  gap: 33em;
  justify-content: space-between;
}

.M_CardAboutFirstSprint {
  height: 514px;
  margin-right: 1em;
}

.M_CardAboutFirstSprint2 {
  height: 432px;
  margin-right: 0em;
  position: relative;
  height: 432px;
}

.M_CardsAboutPlatform {
  display: flex;
  align-items: end;
  align-content: space-between;
}

.M_HeaderAndCircle {
  position: relative;
  padding: 30px;
  width: 500px;
  margin-bottom: 11.7em;
}

.M_HeaderAndCircle2 {
  width: 436px;
  margin-top: 17em;
  margin-bottom: 9em;
}

.M_CardsSquareSmalltext {
  position: relative;
  margin-right: 1em;
}

.M_CardsSquareHeader {
  margin-left: 14.2em;
}

.M_CardsRectangle {
  position: relative;
}

.M_CardsRectangle2 {
  margin-bottom: 20px;
}

.M_CardText {
  position: absolute;
  top: 35%;
  left: 10%;
}

.M_CardText2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.M_textAndLogo {
  margin-top: 25.1em;
  margin-left: 31em;
}

.M_CardsContainer {
  display: flex;
  flex-direction: column;
}

.M_lines {
  display: flex;
  align-items: center;
  position: absolute;
  top: 4px;
  padding: 0em 2.5em;
}

.M_linkToAgile {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 25%;
  right: 9%;
  align-items: center;
}

.M_AboutAgile {
  display: flex;
  flex-direction: column;
  gap: 256px;
  padding: 0em 4em 10em;
}

.M_BackdroundWhatIsAgile {
  background: url('../images/backgroundWhatIsAgile.webp') 1179px 707px no-repeat;
  background-position: 50% 50%;
  height: 707px;
}

.M_CirclesRealizationAgile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4%;
  position: relative;
  bottom: -19%;
}

.M_LogoAndCircle {
  display: flex;
  justify-content: space-between;
  padding: 2em 4em;
}

.M_GraphicsAgileLife2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7em;
}

.M_AgileWhatIs {
  position: absolute;
  display: flex;
  align-items: center;
  width: 755px;
  gap: 18%;
}

.M_FlexibleText {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10em;
}

.M_FlexibleTextDown {
  position: absolute;
  right: 27%;
  margin-bottom: 30px;
  width: 512px;
}

.M_OriginParagraphs {
  display: flex;
  gap: 9em;
  margin-left: 159px;
}

.M_OriginParagraphs2 {
  display: flex;
  gap: 2em;
  margin-left: 227px;
}

.M_ChoosingDurationText {
  display: flex;
}

.M_Squares {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.M_Graphic {
  margin-left: 7em;
  display: flex;
}

.M_GraphicOfDays {
  position: relative;
}

.M_CircleAndText {
  display: flex;
  gap: 230px;
  margin-left: 4em;
  margin-bottom: 0.5em;
}

.M_Steps {
  display: flex;
  gap: 2em;
}

.M_FindArticleAndSteps {
  display: flex;
  gap: 9em;
  align-items: flex-end;
  margin-bottom: 5em;
}

.M_BlocksOfArticles {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 4em;
  flex-wrap: wrap;
  margin-left: 4em;
  margin-bottom: 4em;
}

.M_CardHeaderArticle {
  background: url('../images/RectangleHowToFeel.webp') center/1429px 660px no-repeat;
  background-position: 50% 120%;
  height: 660px;
  background-size: 92% 98%;
  margin-bottom: 3em;
}

.M_TableSubHeaders {
  border: 1px solid white;
  padding: 3em 2em 1em 2em;
  width: 617px;
  margin-left: 3.5em;
}

.M_TableAndText {
  display: flex;
  justify-content: space-between;
  padding-right: 4em;
  margin-bottom: 6em;
}

.M_CardHeaderArticle1 {
  background: url('../images/Q_ImagesPlanning3.webp') center/1429px 660px no-repeat;
  background-position: 50% 120%;
  height: 427px;
  background-size: 100% 98%;
  margin-bottom: 3em;
}