.Q_Arrow3 {
  width: 52px;
  height: 52px;
}

.Q_Arrow {
  width: 36px;
  height: 36px;
}

.Q_LinkAgile {
  position: relative; /* или absolute, если нужно */
  z-index: 1;
}

.Q_Arrow2 {
  position: absolute;
  right: 2.5em;
}

.Q_ImageSport1 {
  border: 1px solid white;
  position: relative;
}

.Q_ImagesPlanning1 {
  border: 1px solid white;
  position: relative;
}

.Q_CircleMedium2 {
  position: absolute;
  top: -3%;
  right: 5%;
}

.Q_RestangleBig {
  position: absolute;
  margin-left: 5em;
}

.Q_CircleMedium {
  width: 37px;
  height: 37px;
  background-color: #ffffff;
  border-radius: 50%;
}

.Q_CircleFirstSprint {
  position: relative;
  left: 27em;
  top: -19em;
}

.Q_CircleBig {
  position: relative;
  left: -30%;
}

.Q_LineVertical {
  position: relative;
  left: -10%;
}

.Q_CircleSmallText {
  position: absolute;
  bottom: 2.5em;
  right: 2.5em;
}

.Q_CircleSmallText2 {
  position: absolute;
  bottom: 6.5em;
  right: 2em;
}

.Q_CircleSmall {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}

.Q_CircleSmall2 {
  top: -12em;
  right: -1em;
  position: absolute;
}

.Q-FooterItemNav {
  margin-bottom: 1em;
}

.Q_SquareMedium {
  padding: 1em;
  position: relative;
}

.Q_SquareMedium2 {
  position: absolute;
}

.Q_FirstSprintText {
  background: url('../images/MaskFirstSprintText.webp') no-repeat;
  background-position: 50% 93%;
  height: 281px;
}

.Q_CircleBig2 {
  width: 464px;
  height: 464px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  right: -8.5%;
}

.Q_LineStraight {
  width: 1px;
  height: 806px;
  background-color: white;
}

.Q_GlassCircle1 {
  position: relative;
  right: -14.5%;
}

.Q_CircleBig3 {
  position: absolute;
  top: 21%;
  height: auto;
  max-width: 1600px;
  width: 100%;
}

.Q_SquareMedium22 {
  width: 327px;
  height: 327px;
  border: 1px solid white;
  padding: 1em;
}

.Q_CircleSmallMargin {
  margin: 2.6em 0em 0em 16.7em;
}

.Q_SquareMedium22Margin {
  margin: 0 auto;
  margin-bottom: 4em;
}

.Q_LineWithCircles {
  max-width: 1700px;
  width: 100%;
  margin-bottom: 2em;
}

.Q_LineGorisontal {
  border: 1px solid white;
  width: 344px;
  margin-left: 4em;
}

.Q_Header2Articles {
  color: white;
  font-size: 25px;
  border-bottom: 3px solid;
  text-underline-offset: 12px;
}

.Q_MarginArticles {
  margin-bottom: 5em;
}


.Q_Header3Article1 {
  font-size: 45px;
  filter: blur(0.7px);
  font-weight: 900;
  font-family: 'Helvetica Regular';
  margin-bottom: 0.5em;
  line-height: 74%;
  letter-spacing: -3.5px;
  margin-right: 2em;
}

.Q_Header4Article1 {
  font-size: 30px;
  filter: blur(0.3px);
  font-weight: 900;
  font-family: 'Helvetica Regular';
  margin-bottom: 4em;
  line-height: 101%;
  width: 488px;
  letter-spacing: -1px;
}

.Q_Header5Article1 {
  font-size: 20px;
  filter: blur(0.2px);
  font-weight: 100;
  font-family: 'Helvetica Regular';
  line-height: 101%;
  width: 453px;
  letter-spacing: -1px;
}

.Q_Header4Article1Width {
  width: 685px;
}

.Q_Header4Article1Margin {
  margin-bottom: 2em;
}

.Q_TextMarginLeft {
  margin-left: -1em;
}

.Q_Header4Article1Mleft {
  margin-left: -1.5em;
}

.Q_TextArt1HowToFeel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.Q_toplist {
  font-size: 45px;
  max-width: 137px;
  filter: blur(1px);
  font-weight: 900;
  font-family: 'Helvetica Regular';
  margin-left: 2.8em;
  padding-top: 2.2em;
  margin-bottom: 7em;
}

.Q_Header5Article12 {
  margin-bottom: 2em;
  width: 494px;
}

.Q_Header5Article13 {
  margin-bottom: 5em;
  width: 494px;
}

.Q_ImgFirstSprint {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.Q_Text30px {
  font-weight: 900;
  font-family: 'Helvetica Regular';
  font-size: 30px;
  margin-left: -1em;
}

.Q_SportAndText {
  display: flex;
  gap: 0.5em;
}

.Q_historyAndImg {
  display: flex;
  justify-content: space-between;
  padding-right: 3.5em;
  gap:10em;
}

.Q_ImgSport {
  height: 256px;
  width: 544px;
  padding-left: 3em;
}

.Q_historyAndImg {
  padding-top: 2em;
}

.Q_Header5Book {
  padding-left: 9em;
  font-size: 20px;
  filter: blur(0.2px);
  font-weight: 100;
  font-family: 'Helvetica Regular';
  line-height: 101%;
  letter-spacing: -1px;
}

.Q_Header5BookMargin {
  margin-bottom: 2em;
}

.Q_LineGorisontal2 {
  border: 1px solid white;
  width: 814px;
  margin-left: 11em;  
  margin-bottom: 3em;
}

.Q_TextHabits {
  display: flex;
  gap: 2em;
  align-items: center;
}

.Q_SquareHabits {
  border: 1px solid white;
  padding: 2em 2em 2em 3em;
  margin-bottom: 5em;
}

.Q_Header5BookMargin2 {
  padding-left: 0;
  padding-top: 5em;
}

.Q_H4Dicipline {
  font-weight: 900;
  font-family: 'Helvetica Regular';
  font-size: 30px;
  margin-left: 15em;
  margin-bottom: 2em;
}

.Q_Header5Bookpadd {
  padding-bottom: 7em;
}

.Q_Rec6 {
  margin-top: 4em;
  margin-right: 2em;
}

.Q_toplistRun {
  margin-top: -2.3em;
}