.Q_Arrow3 {
  width: 52px;
  height: 52px;
}

.Q_Arrow {
  width: 36px;
  height: 36px;
}

.Q_Arrow2 {
  position: absolute;
  right: 2.5em;
}

.Q_ImageSport1 {
  border: 1px solid white;
  position: relative;
}

.Q_ImagesPlanning1 {
  border: 1px solid white;
  position: relative;
}

.Q_CircleMedium2 {
  position: absolute;
  top: -3%;
  right: 5%;
}

.Q_RestangleBig {
  position: absolute;
}

.Q_CircleMedium {
  width: 37px;
  height: 37px;
  background-color: #ffffff;
  border-radius: 50%;
}

.Q_CircleFirstSprint {
  position: relative;
  left: 27em;
  top: -19em;
}

.Q_CircleBig {
  position: relative;
  left: -30%;
}

.Q_LineVertical {
  position: relative;
  left: -10%;
}

.Q_CircleSmallText {
  position: absolute;
  bottom: 2.5em;
  right: 2.5em;
}

.Q_CircleSmallText2 {
  position: absolute;
  bottom: 6.5em;
  right: 2em;
}

.Q_CircleSmall {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
}

.Q_CircleSmall2 {
  top: -12em;
  right: -1em;
  position: absolute;
}

.Q-FooterItemNav {
  margin-bottom: 1em;
}

.Q_SquareMedium {
  padding: 1em;
  position: relative;
}

.Q_SquareMedium2 {
  position: absolute;
}
