a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: Helvetica Regular;
  font-style: normal;
  src: url(a7c3c98319c1341d5aa5.OTF) format('truetype');
}
@font-face {
  font-family: Helvetica Bold;
  font-style: normal;
  src: url(1baa6c20d3e22be14c0a.OTF) format('truetype');
}
@font-face {
  font-family: Helvetica Thin;
  font-style: normal;
  src: url(69715fdffa5218e05ef8.OTF) format('truetype');
}
body {
  background-color: #000;
}
a,
body {
  color: #fff;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
li,
p {
  font-family: Helvetica Regular;
}
body.present {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  h1 {
    color: #fff718;
    font-family: Helvetica Bold;
    font-size: 3vw;
    font-weight: 300;
  }
  .up_part {
    display: flex;
    padding: 5vh 5vw;
  }
  .line_h1 {
    background-color: #fff718;
    height: 0.2vh;
    margin: 2.5vh;
    width: 53vw;
  }
  .center_part {
    margin: 15vh 10vw;
    width: 80vw;
  }
  h2 {
    font-family: Helvetica Bold;
    text-align: center;
  }
  .side_text,
  h2 {
    color: #fff718;
    font-size: 1.5vw;
    font-weight: 300;
  }
  .side_text {
    display: flex;
    font-family: Helvetica Regular;
    justify-content: space-between;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  form {
    border: 0.2vh solid #fff718;
    border-radius: 20px;
    height: 40vh;
    margin: 4vh 2vw;
    padding: 3vw 6vh;
    width: 75vw;
  }
  input {
    background-color: rgba(1, 1, 1, 0);
    border: 0.2vh hidden #fff718;
    border-bottom: 0.2vh solid #fff718;
    color: #fff718;
    font-family: Helvetica Regular;
    font-size: 2.5vw;
    font-weight: 300;
    margin-top: 2vh;
    width: 40vw;
  }
  ::placeholder {
    color: rgba(255, 247, 24, 0.4);
  }
  input:focus {
    outline: none;
  }
  #my-form-button {
    align-items: center;
    background-color: hsla(0, 0%, 84%, 0.2);
    border: none;
    border-radius: 3vw;
    display: flex;
    gap: 2vw;
    margin-top: 3vh;
    padding: 1vh 1vw;
    position: relative;
    width: 5vw;
  }
  .hidden {
    display: none;
  }
  #my-form-status {
    margin: 10vh;
    text-align: center;
  }
  a {
    text-decoration-color: #fff718;
    text-decoration-line: underline;
  }
  .up_part_a {
    text-decoration: none;
  }
}
.M_BackdroundWhatIsAgile {
  background: url(images/backgroundWhatIsAgilecfbf8f6c9add749b5dc9.webp) 1179px
    707px no-repeat;
  background-position: 50% 50%;
  height: 707px;
}
.O_FlexiblePrinciples {
  align-items: center;
  background: url(images/backgroundAgile2e634dbbd2dabd8045f7a.webp) 1299px 806px
    no-repeat;
  background-position: 50% 50%;
  display: flex;
  gap: 57%;
  height: 806px;
  margin: 0 auto 6em;
}
.O_RealizationAgile {
  background: url(images/Q_BackgroundCircle1189b1550c68489e94a82.webp) no-repeat;
  background-position: 100% 50%;
  height: 1233px;
  margin-top: 25em;
  position: relative;
}
.Q_CircleBig2 {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 464px;
  margin: 0 auto;
  position: relative;
  right: -8.5%;
  width: 464px;
}
.M_CirclesRealizationAgile {
  display: flex;
}
.A_TypographyHeaderr1 {
  filter: blur(1.2px);
  font-family: Helvetica Bold;
  font-size: 60px;
  letter-spacing: -5px;
}
.A_TypographyHeaderrr1 {
  filter: blur(2.5px);
  font-family: Helvetica Bold;
  font-size: 120px;
  letter-spacing: -10px;
}
.M_LogoAndCircle {
  display: flex;
  justify-content: space-between;
  margin: 2em 4em;
}
.O_MainAboutAgile {
  align-items: center;
  display: flex;
  font-size: 20px;
  gap: 2em;
  justify-content: flex-end;
  margin: 0 3em 1em;
}
.M_GraphicsAgileLife2 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 7em;
}
.M_AgileWhatIs {
  align-items: center;
  display: flex;
  gap: 18%;
  position: absolute;
  width: 755px;
}
.A_HeaderAgileSmall2 {
  font-size: 40px;
}
.O_AboutAgile1 {
  margin-bottom: 2em;
}
.A_ParagraphSmall {
  font-size: 25px;
  max-width: 714px;
}
.A_TypographyHeaderr2 {
  filter: blur(1px);
  font-family: Helvetica Bold;
  font-size: 60px;
  letter-spacing: -3.5px;
  max-width: 575px;
}
.Q_LineStraight {
  background-color: #fff;
  height: 806px;
  width: 1px;
}
.M_FlexibleText {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10em;
}
.Q_GlassCircle1 {
  position: relative;
  right: -14.5%;
}
.M_FlexibleTextDown {
  margin-bottom: 30px;
  position: absolute;
  right: 27%;
  width: 512px;
}
.A_TypographyHeaderr4 {
  font-family: Helvetica Thin;
  font-size: 20px;
  margin-bottom: 43px;
}
.letter {
  animation: fadeInOut 1s infinite;
  opacity: 0;
}
@keyframes fadeInOut {
  0%,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.letter:first-child {
  animation-delay: 0s;
}
.letter:nth-child(2) {
  animation-delay: 0.3s;
}
.letter:nth-child(3) {
  animation-delay: 0.6s;
}
.letter:nth-child(4) {
  animation-delay: 0.9s;
}
.letter:nth-child(5) {
  animation-delay: 1.2s;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #040404;
  height: auto;
  width: 100vw;
}
.style_guide {
  color: #fff;
  a,
  p {
    font-family: Mont;
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: -2px;
    text-decoration: none;
    width: auto;
  }
  h2 {
    filter: blur(2px);
    font-size: 3.5vw;
    letter-spacing: -2px;
  }
  h2,
  h3 {
    font-family: Code Next;
    font-weight: 800;
  }
  .main,
  h3 {
    filter: blur(1px);
    font-size: 1.5vw;
    letter-spacing: -1px;
  }
  .main {
    color: #fff;
    font-family: Code Next;
    font-weight: 800;
    text-decoration: none;
  }
  .display {
    display: flex;
  }
  .display_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    div {
      position: absolute;
      img {
        height: 100vh;
        left: 0;
        top: 0;
      }
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin: 0 0 0 4vw;
    padding: 40vh 0 0;
    a {
      color: #fff;
      font-weight: 600;
    }
  }
  #start_screen {
    background-image: url(images/sprintly850171c33861866fc02d.gif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
    .center {
      display: flex;
      gap: 2vw;
      margin: 45vh 15vw 0 40vw;
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 5vh 4vw 5vh 10vw;
      text-align: right;
    }
    p {
      padding-top: 2.1vh;
    }
  }
  .ellipse {
    height: 4.5vh;
    margin-top: 1.2vh;
    width: 4.5vh;
  }
  .sprintly {
    height: fit-content;
    padding-top: 0.8vh;
    width: 10vw;
  }
  #center_screen_style {
    margin: 10vh 4vw 0 20vw;
    p {
      margin: 5vh 0 0;
    }
    p.text {
      margin: 2vh 0;
    }
    #a1 {
      margin-left: 2vw;
    }
    #about,
    #who {
      margin: 10vh 0 5vh;
    }
    h1 {
      filter: blur(2px);
      font-family: Code Next;
      font-size: 5vw;
      font-weight: 800;
      letter-spacing: -2px;
      line-height: 60px;
      padding: 5vh 14vw 0 20vw;
    }
  }
  .motivation {
    height: auto;
    margin: 5vh 0;
    overflow: hidden;
    width: 100vw;
    img {
      width: 100%;
    }
  }
  #down_screen_style {
    margin: 10vh 4vw 10vh 20vw;
    #a2 {
      margin-left: 2vw;
    }
    p {
      margin: 5vh 0 0;
    }
    .using_logo {
      height: auto;
      margin: 5vh 0 5vh 20vw;
      width: 70%;
    }
    p.numbers {
      text-align: center;
    }
    .description,
    p.numbers {
      margin-left: 16vw;
    }
    .bad_logo {
      margin: 5vh 0 0;
    }
    #a3 {
      margin: 10vh 0 5vh;
    }
    .colors {
      height: auto;
      width: 100%;
    }
    .a3 {
      margin: 10vh 0 5vh;
    }
    h4 {
      font-family: Code Next;
      font-weight: 400;
    }
    h4,
    h5 {
      font-size: 7vw;
      letter-spacing: -10px;
    }
    h5 {
      font-family: Mont;
      font-weight: 600;
    }
    .alphabet1 {
      filter: blur(1px);
      font-family: Code Next;
      font-weight: 800;
      margin: 5vh 0;
    }
    .alphabet1,
    .alphabet2 {
      letter-spacing: 0;
      line-height: 4vh;
      width: 28vw;
    }
    .alphabet2 {
      margin: 5vh 0 0;
    }
    .alphabet2,
    h6 {
      font-family: Mont;
      font-weight: 600;
    }
    h6 {
      font-size: 1.5vw;
      letter-spacing: -2px;
      margin-top: 4vh;
      position: absolute;
      right: 8vw;
    }
    .photo_grid {
      margin-right: 7vw;
    }
    .grid_descr {
      margin-left: 20vw;
    }
    .graphic_3 {
      margin-top: 5vh;
    }
  }
}
@media (max-device-width: 480px) {
  body,
  html {
    box-sizing: border-box;
    height: auto;
    width: 100vw;
  }
  .style_guide {
    a,
    p {
      font-size: 4vw;
      letter-spacing: -1px;
    }
    h2,
    h3 {
      filter: blur(0.8px);
      font-size: 5vw;
      letter-spacing: -1px;
    }
    h3 {
      font-weight: 800;
    }
    .main {
      filter: blur(0.8px);
      font-size: 5vw;
    }
    .header {
      display: inline;
      padding: 4vh 0 0;
      position: absolute;
    }
    header {
      top: 5vh;
      div {
        img {
          visibility: hidden;
        }
      }
    }
    .using_logo {
      height: fit-content;
      width: 80vw;
    }
    .ellipse {
      height: 2.5vh;
      margin-top: 0;
      width: 2.5vh;
    }
    .sprintly {
      height: fit-content;
      padding-top: 0.8vh;
      width: 24vw;
    }
    #start_screen {
      .center {
        display: flex;
        gap: 2vw;
        margin: 45vh 0 0 27vw;
        .ellipse {
          margin-top: 1.2vh;
        }
      }
      p {
        padding-top: 0.5vh;
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 9vh 4vw 5vh 2vw;
        text-align: right;
      }
    }
    #center_screen_style {
      margin: 7vh 4vw 0 20vw;
      p {
        margin: 3vh 0 0;
      }
      p.text {
        margin: 0.5vh 0;
      }
      #about,
      #who {
        margin: 7vh 0 3vh;
      }
      h1 {
        filter: blur(1px);
        font-size: 7vw;
        font-weight: 800;
        letter-spacing: -2px;
        line-height: 30px;
        padding: 3vh 4vw 0 20vw;
      }
    }
    #down_screen_style {
      margin: 7vh 4vw 10vh 20vw;
      p {
        margin: 3vh 0 0;
      }
      p.numbers {
        margin-left: 0;
        text-align: center;
      }
      .bad_logo {
        height: fit-content;
        width: 70vw;
      }
      #a3,
      .a3 {
        margin: 7vh 0 3vh;
      }
      h4,
      h5 {
        letter-spacing: -3px;
      }
      .alphabet1 {
        filter: blur(0.8px);
      }
      .alphabet1,
      .alphabet2 {
        line-height: 2vh;
        margin: 3vh 0;
        width: 45vw;
      }
      h6 {
        font-size: 3vw;
        letter-spacing: -1px;
        margin-top: 1.8vh;
        right: 4vw;
      }
      .graphic_3,
      .photo_grid,
      .photo_grid3,
      .photos {
        height: fit-content;
        width: 40vw;
      }
      .photo_grid2 {
        height: fit-content;
        width: 20vw;
      }
    }
    .focus {
      height: fit-content;
      width: 100vw;
    }
  }
}
.Q_Arrow3 {
  height: 52px;
  width: 52px;
}
.Q_Arrow {
  height: 36px;
  width: 36px;
}
.Q_Arrow2 {
  position: absolute;
  right: 2.5em;
}
.Q_ImageSport1,
.Q_ImagesPlanning1 {
  border: 1px solid #fff;
  position: relative;
}
.Q_CircleMedium2 {
  right: 5%;
  top: -3%;
}
.Q_CircleMedium2,
.Q_RestangleBig {
  position: absolute;
}
.Q_CircleMedium {
  background-color: #fff;
  border-radius: 50%;
  height: 37px;
  width: 37px;
}
.Q_CircleFirstSprint {
  left: 27em;
  position: relative;
  top: -19em;
}
.Q_CircleBig {
  left: -30%;
  position: relative;
}
.Q_LineVertical {
  left: -10%;
  position: relative;
}
.Q_CircleSmallText {
  bottom: 2.5em;
  position: absolute;
  right: 2.5em;
}
.Q_CircleSmallText2 {
  bottom: 6.5em;
  position: absolute;
  right: 2em;
}
.Q_CircleSmall {
  background-color: #fff;
  border-radius: 50%;
  height: 18px;
  width: 18px;
}
.Q_CircleSmall2 {
  position: absolute;
  right: -1em;
  top: -12em;
}
.Q-FooterItemNav {
  margin-bottom: 1em;
}
.Q_SquareMedium {
  padding: 1em;
  position: relative;
}
.Q_SquareMedium2 {
  position: absolute;
}
.M_MainFooterNavAndArrow {
  display: flex;
  font-size: 25px;
  gap: 3em;
}
.M_MainFooterAbout {
  display: flex;
  flex-direction: column;
  font-family: Helvetica Regular;
  font-size: 20px;
  gap: 4em;
}
.M_MainFooterNavAndNet {
  display: flex;
  gap: 45em;
  margin-bottom: 10em;
}
.M_LogoAndNet {
  display: flex;
  gap: 40em;
}
.M_CardAboutFirstSprint {
  height: 514px;
  margin-right: 1em;
}
.M_CardAboutFirstSprint2 {
  height: 432px;
  margin-right: 0;
  position: relative;
}
.M_CardsAboutPlatform {
  align-content: space-between;
  align-items: end;
  display: flex;
}
.M_HeaderAndCircle {
  margin-bottom: 11.7em;
  padding: 30px;
  position: relative;
  width: 500px;
}
.M_HeaderAndCircle2 {
  margin-bottom: 9em;
  margin-top: 17em;
  width: 436px;
}
.M_CardsSquareSmalltext {
  margin-right: 1em;
  position: relative;
}
.M_CardsSquareHeader {
  margin-left: 14.2em;
}
.M_CardsRectangle {
  position: relative;
}
.M_CardsRectangle2 {
  margin-bottom: 20px;
}
.M_CardText {
  left: 10%;
  position: absolute;
  top: 35%;
}
.M_CardText2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.M_textAndLogo {
  margin-left: 31em;
  margin-top: 25.1em;
}
.M_CardsContainer {
  display: flex;
  flex-direction: column;
}
.M_lines {
  padding: 0 2.5em;
  top: 4px;
}
.M_lines,
.M_linkToAgile {
  align-items: center;
  display: flex;
  position: absolute;
}
.M_linkToAgile {
  gap: 10px;
  right: 9%;
  top: 25%;
}
.M_AboutAgile {
  display: flex;
  flex-direction: column;
  gap: 256px;
  padding: 0 4em 10em;
}
.A_ImgSquare1 {
  position: absolute;
}
.A_ImgSquare2 {
  margin-top: 17em;
}
.A_TypographyHeader4Platform {
  padding: 30px;
  position: relative;
}
.A_TypographyParagraph3 {
  left: 5%;
  position: absolute;
  top: 71%;
}
.A_TypographyParagraph {
  font-family: Helvetica Thin;
  font-size: 15px;
  left: 2.5em;
  margin-bottom: 4em;
  position: absolute;
  top: 2.5em;
  width: 198px;
}
.A_TypographyLogo,
.A_TypographyParagraph2 {
  font-family: Helvetica Bold;
}
.A_TypographyLogo {
  letter-spacing: -13px;
}
.A_TypographyHeader2 {
  font-family: Helvetica Regular;
  font-weight: 700;
}
.A_TypographyHeader2Card2 {
  left: 5%;
  position: absolute;
  top: 5%;
}
.A_ButtonArticles {
  align-items: center;
  display: flex;
  gap: 1em;
  margin-top: -4em;
}
.A_TypographyHeader2Card {
  left: 0.8em;
  position: relative;
  top: 0.6em;
}
.A_textAgile {
  display: flex;
  gap: 39em;
  position: relative;
  right: 5em;
}
.A_TypographyHeader3 {
  font-size: 30px;
}
.A_TypographyLogo {
  filter: blur(4.4px);
  font-size: 175px;
  font-weight: 600;
  margin-bottom: 1em;
}
.A_TypographyHeader1 {
  font-size: 120px;
}
.A_TypographyHeader2 {
  filter: blur(1px);
  font-size: 45px;
  max-width: 550px;
}
.A_TypographyHeader5 {
  filter: blur(1.5px);
  font-family: Helvetica Bold;
  font-size: 80px;
  letter-spacing: -5px;
}
.A_TypographyHeader4 {
  font-family: Helvetica Thin;
  font-size: 20px;
  max-width: 470px;
}
.A_allAboutAgile {
  max-width: 100px;
}
.A_TypographyHeader1Agile {
  filter: blur(2.5px);
  font-family: Helvetica Bold;
  letter-spacing: -10px;
  margin-right: 133px;
}
.O_MainAbout {
  background: url(images/background_7c790013f9e74c2addca6.webp) 50%/1310px 450px
    no-repeat;
  background-position: 50% 83%;
}
.O_MainAboutPlatform2 {
  background: url(images/%D1%84%D0%BE%D0%BD_-2-_1_a6cc3776013bbafdd202.webp)
    614px 1300px no-repeat;
  background-position: 50% 100%;
}
.O_MainFooter {
  background: url(images/focus77dc4dc048b70a9ce4d0.webp) 1307px 594px no-repeat;
  background-position: 50% 90%;
  padding: 4em 2em;
}
.O_MainAboutPlatform {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 7em;
  padding: 2em;
}
.O_MainHeader {
  align-items: center;
  display: flex;
  font-size: 20px;
  gap: 2em;
  justify-content: flex-end;
  margin: 0 4em 1em;
}
.O_MainFirstPage {
  color: #fff;
}
.O_MainAboutPlatform2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 2em 6em;
}
.O_MainAbout {
  position: relative;
}
.S_Container {
  background: url(images/sprintly850171c33861866fc02d.gif) top/1310px 718px
    no-repeat;
  background-position: 50% 0;
  padding-top: 4em;
}
.S_container {
  background-image: url(images/sprintly850171c33861866fc02d.gif);
  background-size: cover;
  height: 220vh;
  width: 100vw;
  h1 {
    color: #fff718;
    font-family: Helvetica Regular;
    font-size: 3vw;
    font-weight: 300;
  }
  .up_part {
    display: flex;
    margin-bottom: 30vh;
    padding: 5vh 5vw;
  }
  .line_h1 {
    background-color: #fff718;
    height: 0.2vh;
    margin: 2.5vh;
    width: 49vw;
  }
  h2 {
    font-family: Helvetica Bold;
    text-align: center;
  }
  .side_text,
  h2 {
    color: #fff718;
    font-size: 1.5vw;
    font-weight: 300;
  }
  .side_text {
    display: flex;
    font-family: Helvetica Regular;
    justify-content: space-between;
    letter-spacing: 2px;
    margin: 8vh 15vw;
  }
  .up_part_a {
    text-decoration: none;
  }
  .what_agile {
    margin-top: 25vh;
    padding: 5vh 2vw 2vh 5vw;
  }
  .what_agile_inside {
    border: 0.2vh solid #fff;
    border-radius: 1.4vw;
    margin: 2vh 5vw;
    padding: 5vh 5vw;
    p {
      color: #fff;
      font-family: Helvetica Regular;
      font-size: 1.43vw;
      font-weight: 300;
    }
  }
  .cards {
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: space-between;
    margin: 15vh 5vw 10vh;
    width: 90vw;
  }
  .one_card {
    border: 0.2vh solid #fff;
    border-radius: 2vw;
    height: 20vw;
    width: 20vw;
    a {
      color: #fff;
      text-decoration: none;
    }
    h2 {
      padding: 3vh;
      text-align: left;
    }
  }
  .one_card:hover {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 247, 24, 0.1);
    transition: 0.5s;
  }
  .flex {
    display: flex;
    .line_h1 {
      margin: 32.5vh 0 0;
      width: 55vw;
    }
  }
  .down_part {
    border: 0.2vh hidden #fff718;
    border-top-style: solid;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    margin: 0 5vw;
    padding-top: 5vh;
    width: 90vw;
    a {
      color: #fff718;
    }
    .social {
      text-align: right;
    }
    h3 {
      margin: 2vh 0;
    }
  }
}
.C_CardsRectangle1 {
  padding: 0 1em 1em;
  position: relative;
}
.C_CardsRectangle2 {
  position: relative;
}
.C_CardsRectangle3 {
  align-self: flex-start;
}
